<% include partials/header %>
<h1> You feel in love with: <%= thingVar %> </h1>

<% if(thingVar.toLowerCase() === "rusty"){ %>
    <p> Good CHOICE! Rusty is the BEST!!!</p>
<% } %>

<p>P.S. This is the love.ejs file  </p>

<% include partials/footer %>